{% extends 'base.html' %} {% load static %} {% block content %}

<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
    <h2 class="title-page">Search Result</h2>
    {% else %}
    <h2 class="title-page">Our Store</h2>
    {% endif %}
  </div>
  <!-- container //  -->
</section>

<div role="main" class="main shop pt-4">

  <div class="container">

    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        <aside class="sidebar">
          <form action="{% url 'search' %}" method="get">
            <div class="input-group mb-3 pb-1">
              <input class="form-control text-1" placeholder="Search..." name="keyword" id="s" type="text">
              <button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
            </div>
          </form>
          <h5 class="font-weight-semi-bold pt-3">Categories</h5>
          <ul class="nav nav-list flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'store' %}">All</a></li>
            {% for category in links %}
            <li class="nav-item"><a class="nav-link" href="{{ category.get_url }}">{{ category.category_name }}</a></li>
            {% endfor %}
          </ul>
          <!-- <h5 class="font-weight-semi-bold pt-5">Tags</h5>
          <div class="mb-3 pb-1">
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Nike</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Travel</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Sport</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">TV</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Books</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Tech</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Adidas</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Promo</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Reading</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Social</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Books</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">Tech</span></a>
            <a href="#"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1">New</span></a>
          </div> -->
          <!-- <div class="row mb-5">
            <div class="col">
              <h5 class="font-weight-semi-bold pt-5">Top Rated Products</h5>
              <div class="product row row-gutter-sm align-items-center mb-4">
                <div class="col-5 col-lg-5">
                  <div class="product-thumb-info border-0">
                    <a href="shop-product-sidebar-left.html">
                      <div class="product-thumb-info-image">
                        <img alt="" class="img-fluid" src="img/products/product-grey-6.jpg">
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
                  <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">hat</a>
                  <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Blue Hat</a></h3>
                  <div title="Rated 5 out of 5">
                    <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
                  </div>
                  <p class="price text-4 mb-0">
                    <span class="sale text-color-dark font-weight-semi-bold">$299,00</span>
                    <span class="amount">$289,00</span>
                  </p>
                </div>
              </div>
              <div class="product row row-gutter-sm align-items-center mb-4">
                <div class="col-5 col-lg-5">
                  <div class="product-thumb-info border-0">
                    <a href="shop-product-sidebar-left.html">
                      <div class="product-thumb-info-image">
                        <img alt="" class="img-fluid" src="img/products/product-grey-8.jpg">
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
                  <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">accessories</a>
                  <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Adventurer Bag</a></h3>
                  <div title="Rated 5 out of 5">
                    <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
                  </div>
                  <p class="price text-4 mb-0">
                    <span class="sale text-color-dark font-weight-semi-bold">$99,00</span>
                    <span class="amount">$79,00</span>
                  </p>
                </div>
              </div>
              <div class="product row row-gutter-sm align-items-center mb-4">
                <div class="col-5 col-lg-5">
                  <div class="product-thumb-info border-0">
                    <a href="shop-product-sidebar-left.html">
                      <div class="product-thumb-info-image">
                        <img alt="" class="img-fluid" src="img/products/product-grey-9.jpg">
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
                  <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">sports</a>
                  <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Baseball Ball</a></h3>
                  <div title="Rated 5 out of 5">
                    <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
                  </div>
                  <p class="price text-4 mb-0">
                    <span class="sale text-color-dark font-weight-semi-bold">$399,00</span>
                    <span class="amount">$299,00</span>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
        </aside>
      </div>
      <div class="col-lg-9 order-1 order-lg-2">

        <div class="masonry-loader masonry-loader-showing">
          <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
            
            {% if products %} {% for product in products %}
            <div class="col-sm-6 col-lg-4">
              <div class="product mb-0">
                <div class="product-thumb-info border-0 mb-3">

                  <!-- <div class="product-thumb-info-badges-wrapper">
                    <span class="badge badge-ecommerce badge-success">NEW</span>

                  </div>

                  <div class="addtocart-btn-wrapper">
                    <a href="{% url 'cart'%}" class="text-decoration-none addtocart-btn" title="Add to Cart">
                      <i class="icons icon-bag"></i>
                    </a>
                  </div> -->

                  <a href="{{ product.get_url }}" class="quick-view text-uppercase font-weight-semibold text-2">
                    VIEW DETAILS
                  </a>
                  <a href="{{ product.get_url }}">
                    <div class="product-thumb-info-image">
                      <img alt="" class="img-fluid" src="{{ product.images.url }}">

                    </div>
                  </a>
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">{{ product.category.category_name }}</p>
                    <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="{{ product.get_url }}" class="text-color-dark text-color-hover-primary">{{ product.product_name }}</a></h3>
                  </div>
                </div>
                <div title="Rated 5 out of 5">
                  <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                </div>
                <p class="price text-5 mb-3">
                  <span class="sale text-color-dark font-weight-semi-bold">${{ product.price }}</span>
                </p>
              </div>
            </div>
            {% endfor %} {% else %}
            <div>
              <h2>No result found. Please try again.</h2>
            </div>
            {% endif %}

          </div>
          <div class="row mt-4">
            <div class="col">
              {% if products.has_other_pages %}
              <ul class="pagination float-end">
                {% if products.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}"><i class="fas fa-angle-left"></i></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href=""><i class="fas fa-angle-left"></i></a></li>
                {% endif %}
                {% for i in products.paginator.page_range %} 
                {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %} {% endfor %} {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}"><i class="fas fa-angle-right"></i></a></li>
                {% else %}
                <li class="pag☻e-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
