{% extends 'base.html' %}


{% block content %}

<div role="main" class="main">

	<div class="container pt-3 pb-2">
		{% include 'includes/alerts.html' %}

		<div class="row pt-2">
			<div class="col-lg-3 mt-4 mt-lg-0">
				{% include 'accounts/dashboard_sidebar.html' %}
			</div>
			<div class="col-lg-9">
				<form action="{% url 'change_password' %}" method="post" role="form" class="needs-validation">
					{% csrf_token %}
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Current password</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="text" name="current_password" value="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Create new password</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="text" name="new_password" value="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Confirm new password</label>
						<div class="col-lg-9">
							<input class="form-control text-3 h-auto py-2" type="text" name="confirm_password" value="">
						</div>
					</div>

					<div class="form-group row">
						<div class="form-group col-lg-9">

						</div>
						<div class="form-group col-lg-3">
							<input type="submit" value="Save" class="btn btn-primary btn-modern float-end" data-loading-text="Loading...">
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

</div>

{% endblock %}