<aside class="sidebar mt-2" id="sidebar">
  <ul class="nav nav-list flex-column mb-5">
    <li class="nav-item"><a class="nav-link text-3 text-dark {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link text-3 {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'my_orders' %}">My Orders</a></li>
    <li class="nav-item"><a class="nav-link text-3 {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}">Edit Profile</a></li>
    <li class="nav-item"><a class="nav-link text-3 {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}">Change Password</a></li>
    <!-- <li class="nav-item"><a class="nav-link text-3" href="#">Invoices</a></li> -->
  </ul>
</aside>